@import url('./nav-bar.css');

.blog-section{
    display: flex;
    flex-wrap: wrap;
    margin: 0 10%;
    gap: 10px;
}

.blog{
    position: relative;
    min-width: 250px;
    border: 1px solid gray;
    border-radius: 10px;
    padding: 10px 20px 30px 20px;
    height: 300px;
    flex: 1;
    display: flex;
    flex-direction: column;
}

.blog-read{
    margin-top: auto;
    align-self: center;
}

.blog-read a{
    text-decoration: none;
    color: white;
    padding: 5px 70px;
    background-color: darkslateblue;
    border-radius: 10px;
}

.heading{
    margin: 0 10%;
}

.heading h3, .title{
    color: darkslateblue;
}

.title{
    margin-bottom: 0;
}

.fullname{
    color: gray;
}

.famous-authors{
    margin: 0 10%;
    position: relative;
}

#famous-authors img{
    height: 100px;
    border-radius: 100%;
}

.famous-authors > h3{
    color: darkslateblue;
}

#famous-authors{
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}

.author{
    text-align: center;
    flex: 1;
    min-width: 200px;
}