@import url('./nav-bar.css');

.error-message{
    display: flex;
    justify-content: center;
    padding: 10px;
}

.message{
    padding: 10px;
    width: 500px;
    text-align: center;
    font-size: 18px;
    color: red;
    font-weight: bold;
    border-radius: 10px;
    border: 1px solid red;
}

.form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-heading{
    font-size: 24px;
}

label{
    display: block;
    font-size: 18px;
}

form{
    width: 500px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

input{
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    outline: none;
    border: 1px solid gray;
    font-size: 18px;
}

input[type=submit]{
    background-color: darkslateblue;
    color: white;
    font-weight: bold;
}