@import url('https://fonts.googleapis.com/css2?family=Geologica');

*{
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: Geologica;
}

.nav-bar{
    color: white;
    background-color: darkslateblue;
}
.nav-bar > div{
    margin: 0 10%;
    display: flex;
    padding: 10px 0;
    align-items: center;
    justify-content: space-between;
}

.nav-bar-header h3{
    margin: 0;
}
.nav-bar-header span{
    color: lightgray;
}

.nav-bar-items{
    display: flex;
    gap: 10px;
    font-size: 16px;
}

.nav-bar-items a{
    text-decoration: none;
    color: white;
    padding: 10px;
}

#faq{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

#faq > div{
    text-align: center;
    min-width: 200px;
    flex: 1;
    padding: 10px;
    border: 1px solid gray;
    border-radius: 10px;
}

.faq{
    margin: 0 10%;
}

.faq > h3{
    color: darkslateblue;
}